<html>
<head>
    <title>
        Enterprise Software Development
    </title>
    <link rel="stylesheet" href="../style/layout.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        Enterprise Software Development
    </div>
    <div class="navigation">
        &nbsp;
    </div>
    <div class="main-container">
        <div class="contents left">
            <h2>Articles</h2>
            ${navigation_details}
        </div>

${content_details}


<div class="contents right">
    <p>&nbsp;</p>
</div>

</div>
<div class="footer">
<p clas>All content Copyright Tim Crowley 2024</p>
</div>
</body>
</html>


